
/* White gloves module - Refer: Home page --------------------------------------- */

.home-white-gloves {
	height: 530px;
}

.white-gloves-bg {
	position: relative;

	h3 {
		font-family: $gotham-font-thin;					
		font-size: 40px;
		line-height: 1.2;
		color: #fff;
		text-transform: uppercase;
		margin: 0 auto 25px auto;
	    width: 300px;
	    text-shadow: 1px 1px 8px rgba(0,0,0,.3);
	} 
}

.home-white-gloves-content {
    padding: 0 10%;
    position: relative;

    &:after {
		right: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(255, 255, 255, 0);
		border-right-color: #fff;
		border-width: 24px;
		margin-top: -24px;
	}
 
	h3 {
		font-family: $gotham-font-bold;
		font-size: 20px;
		line-height: 1.5;
		margin-bottom: 22px;
		color: #000;
		text-transform: none;
	}
	p {
		font-size: 14px;
		line-height: 1.5;
		font-family: $gotham-font-regular;
		margin-bottom: 3em;
	}
}

.white-gloves-list {
	font-size: 0;
	text-align: left;
	 
	li {
		font-family: $gotham-font-regular;
		text-align: left;
		width: 49%;
		min-height: 30px;
		text-transform: uppercase;
		display: inline-block;
	    font-size: 14px;
	    position: relative;
	    padding: 5px 20px 37px 40px ;
	    vertical-align: top;

	    &:before {
	    	width: 25px;
	    	height: 22px;
			content: ' ';
			display: inline-block;
			background: url('../img/sprite.png') -5px -282px no-repeat;
			left: 0;
			position: absolute;
			top: 0;
	    }  
	}
}

/* New projects module - Refer: Home page --------------------------------------- */

.new-projects-module {padding: 72px 0; }

.new-projects-list li {

	.item {margin-bottom: 40px; }
	.table-cell {width: 50%; }

	.p-content {
		padding: 0 0 0 30px ;
		text-align: left;
	}
	h4 {
		text-transform: uppercase;
		font-size: 20px;
		line-height: 1.3;
		margin-bottom: 30px;
	}
	p {
		font-size: 14px;
		line-height: 1.5;
		margin-bottom: 28px;
	}
	.cta {
		display: block; 
		padding: 14px 10px;

		&:hover .link-icon { background-position: -11px -541px; }
	}
}

.link-icon {
	position: relative;
	top: 2px;
	margin-right: 10px;
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url(../img/sprite.png) -9px -332px no-repeat;
}


/* E First Module - Refer: Home page --------------------------------------- */

.e-first-module {
	text-align: center;
	padding-bottom: 50px;

	h4 {
		font-size: 28px;
		line-height: 32px;
		margin:-25px 0 22px 0;

		span {display: inline-block;}
	}
}
.e-first-logo {
	width: 98px;
    position: relative;
    top: -50px;
	display: inline-block;
	border: 1px solid #e5e5e5;
}