
/* Travel Concierge - Services Page --------------------------- */

.service-form-travel {
	border-top: 1px solid #e5e5e5;
	margin-top: 16px;
	padding-top: 60px;

	.datepicker { display: block !important; }
}

.service-form h3, 
.service-form-travel h3 { padding: 63px 0 0 0; }

.service-form-travel .form-information { text-align:left; }

.travel-concierge {
	.radio-box {padding-top: 20px;}
	.form-info {margin-top: 55px;}
}